body {
  background:url('../images/retreat.png') no-repeat center center fixed;
  background-size: cover;

  font-family: "proxima-nova",sans-serif;
  text-align: center;
  color: white;
}

p {
  color: white;
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  margin-left: 12px;
  margin-right: 12px;
}

h1 {
  color: white;
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 55px;
  padding-top: 110px;
  padding-bottom: 9px;
}

#shade {
  position: fixed;
  z-index: -1;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#signup input {
  background: none;
  border: none;
  border-bottom: solid 2px white;
  outline: none;
  font-size: 19px;
  text-align: center;
  line-height: 1.7;
  border-radius: 0;
  -webkit-appearance: none;
  text-shadow: 0 1px 0 black;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.4);
}

#date {
  padding-top: 62px;
}

#sub {
  padding-top: 5px;
}

.icons::before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  margin-right: 0.8em;
  text-decoration: none;
  display: inline-block;
}

/* button icons*/

#love::before {
  padding-top: 2px;
  content: '\2665';
  font-size: 16px;
  color: red;
}
